<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.quickcanteen.quickcanteen">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activities.main.MainActivity">
        </activity>
        <activity android:name=".activities.initial.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.LoginActivity">
        </activity>
        <activity android:name=".activities.register.RegisterActivity">
        </activity>
        <activity android:name=".activities.canteen.CanteenActivity">
        </activity>
        <activity android:name=".activities.order.CompleteActivity">
        </activity>
        <activity android:name=".activities.order.OrderActivity">
        </activity>
        <activity android:name=".activities.order.CancelActivity">
        </activity>
        <activity android:name=".activities.order.SuccessActivity">
        </activity>
        <activity android:name=".activities.userinformation.EditPassword">
        </activity>
        <activity android:name=".activities.userinformation.EditUserInfo">
        </activity>
        <activity android:name=".activities.userinformation.UserInformation">
        </activity>
        <activity android:name=".activities.CommentActivity">
        </activity>
        <activity android:name=".activities.search.SearchActivity">
        </activity>
        <activity android:name=".activities.collect.CollectActivity">
        </activity>
        <activity android:name=".activities.settings.SettingsActivity">
        </activity>
        <activity android:name=".activities.LocationsActivity">
        </activity>
    </application>

</manifest>